<div class="container my-5" style="box-sizing: content-box; min-height: 60vh;">
  <div class="row my-4 px-5">
    <h2 class="px-3">投稿一覧</h2>
  </div>
    <div class="row">
      <!--部分テンプレート化するか-->
      <div class="col-2 my-4">
        <!--<div>-->
        <!--  <h5>カテゴリ</h5>-->
        <!--</div>-->
        <!--<div>-->
        <!--  <h5>地域</h5>-->
        <!--</div>-->
      </div>
      <div class="col-9">
         <% if @posts.empty? %>
            <div class="mt-5 mr-5 pr-3 mb-0">
              <h3 class="text-center"><b>投稿が見つかりませんでした</b></h3>
            </div>
         <% else %>
           <div class="mt-5 mr-5 pr-3 mb-0">
           <% @posts.each do |post| %>
            <table class="table table-bordered bg-light shadow">
              <tr>
                <td class="lead">
                  <b>
                    <%= link_to post_path(post) do %>
                      <%= post.name %>
                    <% end %>
                  </b>
                </td>
                 <!--ブックマークボタン-->
                <td style="width: 70px;" align="center" id="bookmark_buttons_<%= post.id %>">
                  <%= render 'public/bookmarks/bookmark', post: post %>
                </td>
              </tr>
              <tr>
                <td colspan="2"><%= post.address %></td>
              </tr>
              <tr>
                <td colspan="2"><%= image_tag post.get_image(300,300), style: "border-radius: 10px"; %></td>
              </tr>
              <tr>
                <td colspan="2" class="sentiment-score">本文の感情分析スコア<%= post.score %></td>
              </tr>
              <tr>
                <td colspan="2" class="pb-0">
                  <p class="mb-0"><%= post.post_comments.count %>件の評価</p>
                  <p id="star-rate-<%= post.id %>"><p>
                  <% count = post.post_comments.size %>
                  <% score = count != 0 ? (post.post_comments.sum(:star) / post.post_comments.size) : 0 %>
                </td>
               </tr>
                <script>
                    var elem = document.getElementById("star-rate-<%= post.id %>");
                    var opt = {
                      size      : 36,
                      starOff   : '<%= asset_path('star-off.png') %>',
                      starOn    : '<%= asset_path('star-on.png') %>',
                      half      : false,
                      readOnly: true,
                      score: <%= score %>,
                    }
                    // 再読み込みする際、星が増えないようにする
                    // （再読み込み前の星の空文字にする）
                    elem.innerHTML=""
                    raty(elem, opt);
                  </script>
              <!--タグリスト-->
              <tr style="height: 3rem;">
                <td colspan="2">
                  <% post.tags.each do |tag| %>
                    <%= link_to tag.name, tag_path(tag) %>
                    <%= "(#{tag.posts.count})" %>
                  <% end %>
                </td>
              </tr>
            </table>
         　 <% end %>
         　<%= paginate @posts %>
         　</div>
         <% end %>
      </div>
    </div>
</div>



