<h2 class="my-4 ml-5 px-5">投稿詳細</h2>
  <div class="row ml-2">
    <div class="col-9">
      <div class="ml-5 px-5">
        <table class="table ml-5">
            <tr>
              <td><b>施設名</b></td>
              <td><%= @post.name %></td>
            </tr>
            <tr>
              <td><b>住所・地図</b></td>
              <td><%= @post.address %>
                <!--ここにgooglemapを表示-->
                <div class="map mt-2">
                  <div id="map">
                  </div>
                </div>
                  <script>
                    function initMap(){
                      let map = new google.maps.Map(document.getElementById('map'), {
                        center: {lat: <%= @post.latitude %>, lng: <%= @post.longitude %>  },
                        zoom: 15
                      });
                    }
                  </script>
                    <!--.envファイル にAPIキーを記述-->
                  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>
              </td>
            </tr>
            <tr>
              <td><b>画像</b></td>
              <td><%= image_tag @post.get_image(100,100) %></td>
            </tr>
            <tr>
              <td><b>電話番号</b></td>
              <td><%=  @post.phone_number %></td>
            </tr>
            <tr>
              <td><b>営業時間</b></td>
              <td><%= @post.opening_hour %></td>
            </tr>
            <tr>
              <td><b>URL</b></td>
              <td><%= @post.url %></td>
            </tr>
            <tr>
              <td><b>説明</b></td>
              <td><%= @post.description %></td>
            </tr>
            <tr>
              <td><b>タグ</b></td>
              <td>tag_name</td>
            </tr>
            <tr>
              <td><b>投稿日</b></td>
              <td><%= @post.created_at.strftime('%Y/%m/%d') %></td>
            </tr>
        </table>
        <p class="mt-2" style="text-align: end;">
          <%= link_to "投稿編集", edit_post_path(@post), class: "btn btn-success mr-4" %>
          <%= link_to "投稿削除", post_path(@post), method: :delete, class: "btn btn-danger" %>
        </p>
      </div>
    </div>
  </div>
