<div class="container my-5" style="box-sizing: content-box; min-height: 60vh;">
  <div class="col-9 px-4 ml-5 my-4">
    <div class="row">
      <h2 class="px-3"><%= @member.name %>さんの会員情報編集</h2>
    </div>
  　　　　　　　　　　　　<!--情報更新するのでupdate_path-->
    <%= form_with model: @member, url: admin_member_path(@member), method: :patch do |f| %>
      <table class="table table-borderless ml-5">
        <tr>
          <td style="width: 270px;">ユーザーネーム</td>
          <td><%= f.text_field :name %></td>
        </tr>
        <tr>
          <td style="width: 270px;">メールアドレス</td>
          <td><%= f.text_field :email %></td>
        </tr>
        <tr>
          <td style="width: 270px;">会員ステータス</td>
          <td>
            <% if @member.is_active == true %>
              <%= f.radio_button :is_active, true, checked: true %>
              <%= f.label :is_active, "有効" %>
              <%= f.radio_button :is_active, false %>
              <%= f.label :is_active, "退会" %>
            <% else %>
              <%= f.radio_button :is_active, true %>
              <%= f.label :is_active, "有効" %>
              <%= f.radio_button :is_active, false, checked: true %>
              <%= f.label :is_active, "退会" %>
            <% end %>
          </td>
        </tr>
      </table>
      <div class="my-5 ml-5">
        <p style="text-align: center;">
          <%= f.submit "編集内容を保存", class: "btn btn-success mr-3" %>
        </p>
      </div>
    <% end %>
  </div>
</div>


