<div class="ml-5 mt-5">
  <p id="commentsCount">
    <b>レビュー件数:<%= post.post_comments.count %></b>
  </p>
</div>
<!--コメント一覧-->
<table class="table">
  <% post.post_comments.each_with_index do |post_comment, idx| %>
    <tr>
      <td><%= post_comment.member.name %></td>
      <td><%= post_comment.created_at.strftime('%Y/%m/%d') %></td>
      <td id="star-rate-<%= idx + 1 %>"></td>
      <%# count = post.review.count %>
      <script>
        var elem = document.getElementById("star-rate-<%= idx + 1 %>");
        var opt = {
          size      : 36,
          starOn  : '<%= asset_path('star-on.png') %>',
          starOff : '<%= asset_path('star-off.png') %>',
          //half      : false,
          readOnly: true,
          score: <%= post_comment.star %>
        }
        elem.innerHTML=""
        raty(elem, opt);
      </script>
      <td><%= post_comment.comment %></td>
      <% if post_comment.member == current_member %>
        <td>
          <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, remote: true, class: "btn btn-danger" %>
        </td>
      <% else %>
        <td></td>
      <% end %>
    </tr>
  <% end %>
</table>

<!--フラッシュメッセージ-->
<div id="flash-message"></div>
<div id="post-comments-error"></div>


<!--コメントフォーム-->
<div>
  <!--ログインしてない、コメントしてない時　表示-->
  <!--ログインしててコメントしてる時　非表示-->
  <% if !member_signed_in? || (post.member != current_member && current_member.post_comments.where(post_id: post.id).blank?) %>
    <%= form_with model: [post, post_comment], local: false do |f| %>
      <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに", :size => "70" %>
      <%= f.label :star,'評価', class:'col-md-3 col-form-label ml-1' %>
      <div class="form-group row ml-1" id="star"></div>
      <p style="text-align: end;"><%= f.submit "送信する", class: "btn btn-success" %></p>
    <% end %>
  <% end %>
  <!-- 評価javascript -->
  <script>
    var elem = document.getElementById("star");
    var opt = {
      size     : 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      scoreName: 'post_comment[star]',
      half: false
    };
    elem.innerHTML=""
    raty(elem, opt)
  </script>
</div>