<div class="container my-5">
  <div class="row my-4 px-5">
    <h2 class="px-3">ブックマーク一覧</h2>
  </div>
    <div class="row ml-2">
      <% if @bookmark_posts.empty? %>
        <div class="col-10 offset-2">
          <div class="mt-5 ">
             <h3 style="text-align: center;"><b>ここにブックマークした投稿が表示されます</b></h3>
          </div>
        </div>
      <% else %>
      <div class="col-9">
        <div class="ml-5 px-5">
           <% @bookmark_posts.each do |post| %>
            <table>
              <tr>
                <td class="lead">
                  <b>
                    <%= link_to post_path(post) do %>
                      <%= post.name %>
                    <% end %>
                  </b>
                </td>
              </tr>
              <tr>
                <td><%= post.address %></td>
              </tr>
              <tr>
                <td><%= image_tag post.get_image(100,100) %></td>
              </tr>
            </table>
              <p class="mb-0"><%= post.post_comments.count %>件の評価</p><div id="star-rate-<%= post.id %>"></div>
              <% count = post.post_comments.size %>
              <% score = count != 0 ? (post.post_comments.sum(:star) / post.post_comments.size) : 0 %>
              <script>
                  var elem = document.getElementById("star-rate-<%= post.id %>");
                  var opt = {
                    size      : 36,
                    starOff   : '<%= asset_path('star-off.png') %>',
                    starOn    : '<%= asset_path('star-on.png') %>',
                    half      : false,
                    readOnly: true,
                    score: <%= score %>,
                  }
                  // 再読み込みする際、星が増えないようにする
                  // （再読み込み前の星の空文字にする）
                  elem.innerHTML=""
                  raty(elem, opt);
                </script>
              <div class="border-bottom border-5">
                <!--タグリスト-->
                <% post.tags.each do |tag| %>
                  <%= link_to tag.name, tag_path(tag) %>
                  <%= "(#{tag.posts.count})" %>
                <% end %>
              </div>
         　 <% end %>
         　</div>
         </div>
        <% end %>
      </div>
</div>
