<div class="container my-5" style="box-sizing: content-box; min-height: 60vh;">
  <div class="row my-4 px-5">
    <h2 class="px-3">タグが"<b><%= @tag.name %></b>"の投稿一覧</h2>
  </div>
    <div class="row">
      <!--部分テンプレート化するか-->
      <div class="col-2 my-4">
        <!--<div>-->
        <!--  <h5>カテゴリ</h5>-->
        <!--</div>-->
        <!--<div>-->
        <!--  <h5>地域</h5>-->
        <!--</div>-->
      </div>
      <div class="col-9">
        <div class="mt-5 mr-5 pr-3 mb-0">
         <% @posts.each do |post| %>
          <table class="table table-bordered bg-light shadow">
            <tr>
              <td class="lead">
                <b>
                  <%= link_to post_path(post) do %>
                    <%= post.name %>
                  <% end %>
                </b>
              </td>
              <!--ブックマークボタン-->
              <td style="width: 70px;" align="center" id="bookmark_buttons_<%= post.id %>">
                <%= render 'public/bookmarks/bookmark', post: post %>
              </td>
            </tr>
            <tr>
              <td colspan="2"><%= post.address %></td>
            </tr>
            <tr>
              <td colspan="2"><%= image_tag post.get_image(300,300), style: "border-radius: 10px"; %></td>
            </tr>
            <tr>
              <td colspan="2" class="pb-0">
                <p class="mb-0"><%= post.post_comments.count %>件の評価</p>
                <p id="star-rate-<%= post.id %>"></p>
                <% count = post.post_comments.size %>
                <% score = count != 0 ? (post.post_comments.sum(:star) / post.post_comments.size) : 0 %>
              </td>
            </td>
            <!--５段階評価のscript-->
            <%= render "shared/raty_script", element_id: "star-rate-<%= post.id %>", score: score %>
          <tr style="height: 3rem;">
            <td colspan="2">
              <!--タグリスト-->
              <% post.tags.each do |tag| %>
                <%= link_to tag.name, tag_path(tag) %>
                <%= "(#{tag.posts.is_active.count})" %>
              <% end %>
            </td>
          </tr>
        </table>
       <% end %>
       <%= paginate @posts %>
       </div>
    </div>
  </div>
</div>