<div class="row">
  <h2 class="my-4 ml-5 px-5">ログイン</h2>
</div>

<div class="ml-5 px-5">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <table class="table table-borderless ml-5">
      <tr>
        <td>メールアドレス</td>
        <td><%= f.email_field :email, autocomplete: "email" %></td>
       </tr>
      <tr>
        <td>パスワード</td>
        <td><%= f.password_field :password, autocomplete: "new-password" %></td>
       </tr>
      <tr>
        <td></td>
        <td><%= f.submit "ログイン", class: "btn btn-success" %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= render "public/shared/links" %></td>
      </tr>
    </table>
  <% end %>
</div>
