<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
        <a class="navbar-brand" href="/">SSS<a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="#navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div>
        ここに検索フォームを実装
      </div>
        <ul class="navbar-nav">
  <!--リンクを実装-->
          <% if member_signed_in? %>
            <li class="nav-item mr-3 btn  btn btn-dark">
              <%= link_to "マイページ", my_page_path(current_member) %>
            </li>
            <li class="mx-3 btn">
              <%= link_to "投稿一覧", posts_path, class: "btn btn-dark" %>
            </li>
            <!--<li class="mx-3 btn  btn btn-dark">-->
            <!--  会員一覧-->
            <!--</li>-->
            <li class="mx-3 btn  btn btn-dark">
              <%= link_to "ログアウト", destroy_member_session, class: "btn btn-dark" %>
            </li>
          <% elsif admin_signed_in? %>
            <li class="mx-3 btn  btn btn-dark">
              投稿一覧
            </li>
            <li class="mx-3 btn  btn btn-dark">
              会員一覧
            </li>
            <li class="mx-3 btn  btn btn-dark">
              タグ一覧
            </li>
            <li class="mx-3 btn  btn btn-dark">
              ログアウト
            </li>
          <% else %>
             <li class="mx-3 btn">
              <%= link_to "About", home_about_path, class: "btn btn-dark" %>
            </li>
            <li class="mx-3 btn">
              <%= link_to "投稿一覧", posts_path, class: "btn btn-dark" %>
            </li>
            <li class="mx-3 btn">
              <%= link_to "新規登録", new_member_registration_path, class: "btn btn-dark" %>
            </li>
            <li class="mx-3 btn">
              <%= link_to "ログイン", new_member_session_path, class: "btn btn-dark" %>
            </li>
          <% end %>

        </ul>
      </div>
    </div>
</nav>