<!DOCTYPE html>
<html>
  <head>
    <title>SSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="mb-auto">
      <header class="shadow-sm" style="background-color: #87cefa;"><%= render 'layouts/header' %></header>
          <!--フラッシュメッセージ-->
          <div style="text-align: center;">
            <% if flash[:notice] %>
              <p class="alert alert-success"><%= notice %></p>
            <% elsif flash[:alert] %>
              <p class="alert alert-danger"><%= alert %></p>
            <% end %>
          </div>
          <div class="container m-5" style="box-sizing: content-box; min-height: 70vh;">
              <%= yield %>
          </div>
    <footer class="bg-dark pt-5 pb-4"><%= render 'layouts/footer' %></footer>
  </body>
</html>
