<!DOCTYPE html>
<html>
  <head>
    <title>SSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="mb-auto">
    <div class="footerFixed">
      <header class="shadow-sm"  style="background-color: #87cefa;"><%= render 'layouts/header' %></header>
        <div class="container m-5">
          <%= yield %>
        </div>
    <footer class="bg-dark pt-5 pb-4" style="color: white;"><%= render 'layouts/footer' %></footer>
    </div>
  </body>
</html>
